@model MiniProjectApp.DataModels.UserDetailsVN

@{
    ViewBag.Title = "Register";
}
<div class="register">
    <h2 style="text-align:center;color:cadetblue;font-size:50px">Register New Account</h2>
</div>
<div class="container">
    <div class="row regBox">
        <div class="col-md-15">
            @using (Html.BeginForm())
            {
                <div style="color:red">
                    @Html.ValidationSummary()
                </div>
                <label class="lb">Enter the Name</label><br>
                @Html.EditorFor(m => m.Name)
                <p style="color:red">
                    @Html.ValidationMessageFor(m => m.Name)
                </p>
                <label>Enter the UserName</label><br>
                @Html.EditorFor(m => m.UserName)
                <p style="color:red">
                    @Html.ValidationMessageFor(m => m.UserName)
                </p>
                <label>Enter your city</label><br>
                @Html.EditorFor(m => m.Address)
                <p style="color:red">
                    @Html.ValidationMessageFor(m => m.Address)
                </p>
                <label>Enter the Mobile No</label><br>
                @Html.EditorFor(m => m.mobileNo)
                <p style="color:red">
                    @Html.ValidationMessageFor(m => m.mobileNo)
                </p>
                <label>Enter the Email</label><br>
                @Html.EditorFor(m => m.email)
                <p style="color:red">
                    @Html.ValidationMessageFor(m => m.email)
                </p>
                <label>Create Password</label><br>
                @Html.EditorFor(m => m.password)
                <p style="color:red">
                    @Html.ValidationMessageFor(m => m.password)
                </p>
                <label>Retype the Password</label><br>
                @Html.EditorFor(m => m.RetypePassword)
                <p style="color:red">
                    @Html.ValidationMessageFor(m => m.RetypePassword)
                </p>
                <button class="btn btn-success regButton">
                    Register
                </button>
            }
        </div>
    </div>
</div>
<style>
    .regBox {
        background: aqua;
        padding-left:40px;
    }
    input {
        min-width: 300px;
    }
    .regButton{
        margin-left:95px;
        margin-bottom:20px;
    }
</style>